
<nav class="navbar">
    <section class="logo-section">
        <img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" />
    </section>
    <form class="search-section" form action="#">
        <input class="input-search" type="search" name="user" placeholder="search" />
    </form>
    <section class="icons-section">
     <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
     <a href="{% url 'createpost' %}"><i class="fa-solid fa-square-plus"></i></a>
     <a href="#"><i class="fa-solid fa-compass"></i></a>
     <a href="#"><i class="fa-solid fa-heart"></i></a>
     <a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a>
    </section>
</nav>

<br>
<br>





   

    
