
<nav class="navbar">
    <section class="logo-section">
        <img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" />
    </section>
    <form class="search-section" form action="#">
        <input class="input-search" type="search" name="user" placeholder="search" />
    </form>
    <section class="icons-section">
        <i class="fa-solid fa-house" aria-hidden="false"></i>
        <i class="fa fa-compass" aria-hidden="false"></i>
        <a href="{% url 'createpost' %}"><i class="fa fa-compass" aria-hidden="false"></i>
        </a>
        <a class="fas fa-upload" data-toggle="modal" data-target="#myModal"></a>
        <a class="fa fa-heart" href="#"></a>
        <a class="fa fa-user"  href="/profile/"></a>
    </section>
</nav>

<br>
<br>


    
