{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'includes/navbar.html' %}



<div class="container">

  <div class="row">


    <div class="col-sm-6">
      {% for post in posts %}
      <div class="card mx-auto mt-3">
        <img src="{{post.image.url}}" class="card-img-top" alt="ig post">
        <div class="card-body">
          <p class="card-text">{{post.description}}</p>
        </div>
      </div>

      <form action="{% url 'comment' post.id %}" method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" name="comment">
        <button class=" btn-primary btn-sm">comment</button>
      </form>

      {% for comment in post.comments.all %}
      {{comment.user.username}} :
      {{comment.message_body}}

      {% endfor %}


      {% endfor %}
    </div>

    <div class="col-sm-6">

    </div>
  </div>
</div>




<style>
  .fool {
    margin-left: 60%;
    margin-top: -170%;
    position: sticky;
    bottom: 2rem;
    align-self: flex-end;
  }
</style>




<div class='col-md-4 col-xs-4 col-sm-4 fool'>
  <br><br><br>
  <div class="ex3" style=" background-color: whitesmoke;
  color: white;
  padding: 15px;
  width: 120%;
  height: 400px;
  overflow: scroll;
  border: 1px solid #ccc">
    <div class="row">

      <div class="col-md-8">
        <div class="col-md-8">
          <a href='#'>
            <img id="prof"
              style="border-radius: 50% ; padding: 0.15rem;  width: 50px; background: linear-gradient(to right bottom, #d82c66, #c92e3b, #e15e43, #f3813f, #ffa63e);"
              class=" img-circle" width="50" height="50" src="#">
            <small></small>
            <br>

        </div>
      </div>
      <a href="#"></a>
      <div class="col-md-4" style="margin-left: 60%; margin-top: -8%;">
        <a href="">
          <button class="btn btn-primary">Follow</button>
        </a>
        <br>

      </div>


    </div>
  </div>
</div>




















{% endblock %}